<header class="App-header">
    <nav class="navbar navbar-expand-lg bg">
      <div class="container-fluid">
        <div class="navbar-container">
          <a class="navbar-brand" href="" style="font-size: 24px; font-weight: bold; color: #4a4a4a; text-decoration: none;">
            Employee Management System
          </a>
          <div>
            <ul class="navbar-nav d-flex align-items-center">
              <li class="nav-item">
                <button
                  class="btn btn-primary d-flex justify-content-center align-items-center"
                  (click)="logOut()"
                >
                  Log Out &nbsp;
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-box-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <!-- SVG content -->
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>